<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume tmo is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/takemeout_db
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      1234
   </property>

   <!-- Creates the database schema on startup if it doesn't already exist -->
   <property name="hibernate.hbm2ddl.auto">update</property>

   <!-- Mapping classes -->
   <mapping class="com.takemeout.event.entities.Event"/>
   <mapping class="com.takemeout.user.entities.User"/>


</session-factory>
</hibernate-configuration>
